.education {
    position: absolute;
    color: whitesmoke;
}
/*margin:30px 0px 30px 0px;*/
.widecard
{
border:0px solid #9a9b9c;
width: 50%;
margin: auto;
text-align: center;

}
.widecard:hover
{
color: #1b1d20;
background-color: #ffffff;
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}