.skills {
    color: whitesmoke;
}

.content {
    background-color: gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    margin-bottom: -100px;
    height: 100%;
    width: 100%;
    padding: 2%;
    font-family: 'Raleway', sans-serif;
}

.scrollable{
    overflow-y: scroll;
}